.react-floating-label-input {
  $gray: #9b9b9b;
  width: 100%;

  * {
    font-family: inherit;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 2em;
    border-bottom: 1px solid #ddd;
  }

  input,
  label {
    padding: 0;
    margin: 0;
    border: 0;
  }

  input {
    border: none;
    outline: none;
    font-size: 1em;
    &::placeholder {
      color: $gray;
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
  }

  label {
    position: absolute;
    color: $gray;
    bottom: 0;
    transition: all linear 0.2s;
    transform-origin: left top;
    font-size: 1em;
    cursor: text;
    pointer-events: none;
    width: 66.6%;
  }

  &.active {
    input {
      &::placeholder {
        opacity: 1;
      }
    }
  }
}
